.description-container-dark {
    background-color: #5D4037;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.description-container-dark:hover {
    border-color: #007bff;
}
