.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #765555;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container input,
  .form-container textarea,
  .form-container button,
  .form-container .mantine-dates-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    background-color: #ead8c2; 
    color: #765555; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #dacab4; 
  }
  