.timer-container {
    text-align: center;
}

.timer-text, .timer-number {
    font-family: 'Inter';
    color: #E3DDC5;
}

.button-container {
    margin-top: 20px;
}

.button-class:hover {
    opacity: 0.8; 
}

.button-class .button-icon {
    margin-right: 5px;
}
